extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce orci nulla, vehicule ullamcorper lobortis sed, luctus quis lacus.
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Etiam ultrices diam sit amet dui elementum egestas. Maecenas quis eleifend ipsum. Fusce placerat tempor mi, id varius dui venenatis vitae. In laoreet, tellus non pellentesque varius, ligula leo volutpat lacus, malesuada tristique elit magna ultrices lorem.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p Etiam ultrices diam sit amet dui elementum egestas. Maecenas quis eleifend ipsum. Fusce placerat tempor mi, id varius dui venenatis vitae. In laoreet, tellus non pellentesque varius, ligula leo volutpat lacus, malesuada tristique elit magna ultrices lorem.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				p Etiam ultrices diam sit amet dui elementum egestas. Maecenas quis eleifend ipsum. Fusce placerat tempor mi, id varius dui venenatis vitae. In laoreet, tellus non pellentesque varius, ligula leo volutpat lacus, malesuada tristique elit magna ultrices lorem.
				a.btn.btn-default(href='#') View Details

